
@{
    ViewData["Title"] = "短链系统 - 登录页";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>短链系统 - 登录页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-v4-rtl/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/lib/login/css/main.css">
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../lib/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" method="post" asp-action="Login">
                    <span class="login100-form-title p-b-49">登录</span>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
                        <span class="label-input100">用户名</span>
                        <input class="input100" type="text" name="name" placeholder="请输入用户名" autocomplete="off">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="请输入密码">
                        <span class="label-input100">密码</span>
                        <input class="input100" type="password" name="password" placeholder="请输入密码">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="javascript:">忘记密码？</a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">登 录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/login/js/main.js"></script>
</body>

</html>