@{
    ViewData["Title"] = "在线生成";
}

<div class="text-center" id="main" style="text-align:left !important;">
    <el-card :body-style="{display:'flex',padding: '20px',justifyContent:'center' }">
        <div>
            <el-input placeholder="请输入内容" v-model="query.generate_url" style="width:500px">
                <el-button slot="append" icon="el-icon-search" @@click="fetchData" :loading="loading">生成短链</el-button>
            </el-input>
            <div style="margin-top:10px">
                <p>短网址：<el-link type="primary" :href="shortUrl" target="_blank">{{shortUrl}}</el-link></p>
                <p>原网址：<el-link type="primary" :href="originUrl" target="_blank">{{originUrl}}</el-link></p>
            </div>
        </div>
    </el-card>
</div>
@section Scripts
    {
    <script>
        let app = new Vue({
            el: "#main",
            data() {
                return {
                    loading: false,
                    query: {
                        generate_url: ''
                    },
                    shortUrl: '',
                    originUrl: ''
                }
            },
            mounted() {

            },
            created() {
                console.log("init!");
            },
            methods: {
                fetchData() {
                    sessionStorage.setItem("_query", JSON.stringify(this.query));
                    this.loading = true;
                    axios.post("/home/Generate", this.query).then(res => {
                        this.shortUrl = window.location.origin + "/" + res.data.short_url;
                        this.originUrl = res.data.origin_url;
                        console.log(res);
                        this.loading = false;
                    }).catch(err => {
                        this.loading = false;
                        this.$notify({
                            message: "请求失败，请检查输入",
                            type: 'warning'
                        });
                    });
                }
            }
        })
    </script>
}
